<div class="widget">
    <h3 class="widget-title"><%= __('widget.board') %></h3>
    <div class="widget-body">
        <div id="board">
            <div class="content">
                <%- theme.site.board %>
            </div>
        </div>
    </div>
</div>
