/*
 * scrollbar
 */

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1)
}

::-webkit-scrollbar-thumb:vertical {
  height: 4px;
  background: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-thumb:horizontal {
  width: 4px;
  background: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3)
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.6)
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.2)
}
