<!-- Modal -->
<div class="modal modal-center modal-xs-full fade" id="donateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="donate-box">
          <div class="donate-tit">
            <p>感谢您的支持，我会继续努力的!</p>
          </div>
          <div class="donate-payimg">
            <img src="/images/donate/alipayimg.png" alt="扫码支持" title="扫一扫" />
          </div>
          <p class="text-muted mv">扫码打赏，你说多少就多少</p>
          <div class="donate-payselect">
            <div class="pay_item checked" data-id="alipay" data-src="/images/donate/alipayimg.png">
              <div class="radio">
                <input type="radio" name="payment" id="input-alipay" value="alipay" checked>
                <label class="pay_logo clickable" for="input-alipay"><img src="/images/donate/alipay.jpg" alt="支付宝" /></label>
              </div>
            </div>
            <div class="pay_item" data-id="weipay" data-src="/images/donate/weipayimg.png">
              <div class="radio">
                <input type="radio" name="payment" id="input-weipay" value="weipay">
                <label class="pay_logo clickable" for="input-weipay"><img src="/images/donate/wechat.jpg" alt="微信" /></label>
              </div>
            </div>
          </div>
          <div class="text-grey">
            <p>打开<span id="donate-pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
