<section class="sidebar">
  <div class="slimContent">
    <div class="widget">
      <h3 class="widget-title">个人链接</h3>
      <div class="widget-body">
        <ul class="list-square lh-2x">
          <li>
            Github:
            <a href="https://github.com/cofess" target="_blank">
              https://github.com/cofess
            </a>
          </li>
          <li>
            Blog:
            <a href="http://blog.cofess.com" target="_blank">
              http://blog.cofess.com
            </a>
          </li>
          <li>
            微博:
            <a href="http://weibo.com/cofess" target="_blank">
              http://weibo.com/cofess
            </a>
          </li>
          <li>
            花瓣:
            <a href="http://huaban.com/cofess" target="_blank">
              http://huaban.com/cofess
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">技能</h3>
      <div class="widget-body">
        <ul class="skill-list lh-2x">
          <li>
            <span>Git</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>Gulp</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>Javascript</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>HTML+CSS</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>Bootstrap</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>ThinkPHP</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
          <li>
            <span>平面设计</span>
            <span class="pull-right">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">Keywords</h3>
      <div class="widget-body">
        <span class="label label-default mb">PHP</span>
        <span class="label label-default mb">Javascript</span>
        <span class="label label-default mb">HTML+CSS</span>
        <span class="label label-default mb">Git</span>
        <span class="label label-default mb">前端构建</span>
        <span class="label label-default mb">Sublime Text</span>
        <span class="label label-default mb">Gulp</span>
        <span class="label label-default mb">Less</span>
        <span class="label label-default mb">Scss</span>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">Popular Repositories</h3>
      <div class="widget-body">
        <ul class="popular-repo list-square lh-2x">
          <li class="public source">
            <a href="https://github.com/cofess/gulp-startpro.git" target="_blank" title="cofess/gulp-startpro" class="mini-repo-list-item css-truncate">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target">cofess/gulp-startpro</span>
            </a>
          </li>
          <li class="public source">
            <a href="https://github.com/cofess/gulp-startkit.git" target="_blank" title="cofess/gulp-startkit" class="mini-repo-list-item css-truncate">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target">cofess/gulp-startkit</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
    </div>
  </div>
</section>
<section class="main">
  <article class="article archives-about article-type-normal" itemscope="">
    <header class="article-header">
      <h1 itemprop="title">About me</h1>
      <p>喜欢新事物，关注前端动态，对新的技术有追求； 喜欢产品，喜欢设计，喜欢 coding。</p>
    </header>
    <div class="article-body">
      <figure class="highlight javascript">
        <table>
          <tbody>
            <tr>
              <td class="code"><pre><span class="line"></span><br><span class="line">{</span><br><span class="line">  name: <span class="string">'邱同城 / qiutc'</span></span><br><span class="line">  age: <span class="number">22</span>,</span><br><span class="line">  gender: <span class="string">'男'</span>,</span><br><span class="line">  address: <span class="string">'浙江省杭州市'</span>,</span><br><span class="line">  education: <span class="string">'本科/西安电子科技大学'</span>,</span><br><span class="line">  Github: <span class="string">'https://github.com/TongchengQiu'</span>,</span><br><span class="line">  blog: <span class="string">'https://qiutc.me/'</span>,</span><br><span class="line">  email: <span class="string">'tongchengqiu@gmail.com'</span>,</span><br><span class="line"></span><br><span class="line">  skills: [</span><br><span class="line">    [<span class="string">'html'</span>, <span class="string">'javascript'</span>, <span class="string">'jQuery'</span>, <span class="string">'css'</span>, <span class="string">'es6'</span>, <span class="string">'node'</span>],</span><br><span class="line">    [<span class="string">'React'</span>, <span class="string">'redux'</span>, <span class="string">'react-router'</span>],</span><br><span class="line">    [<span class="string">'webpack'</span>, <span class="string">'gulp'</span>],</span><br><span class="line">    [<span class="string">'sass'</span>],</span><br><span class="line">    [<span class="string">'git'</span>],</span><br><span class="line">    [<span class="string">'docker'</span>]</span><br><span class="line">  ],</span><br><span class="line"></span><br><span class="line">  description: <span class="string">'喜欢新事物，关注前端动态，对新的技术有追求； 喜欢产品，喜欢设计，喜欢 coding。'</span></span><br><span class="line">}</span><br></pre></td>
            </tr>
          </tbody>
        </table>
      </figure>
    </div>
  </article>
</section>
