<%
  var title = page.title;
  if (is_archive()){
    title = __('page.archive');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  }
%>
<main class="main" role="main">
  	<article class="content article article-archives article-type-list" itemscope="">
	    <header class="article-header">
	      <h1 itemprop="title"><% if (title){ %><%= title %><% } %></h1>
	      <p class="text-muted"><%= _p('total.article', page.posts.length) %></p>
	    </header>
	    <div class="article-body">
	      <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
	    </div>
  	</article>
  	<%- partial('_partial/pagination', {type: 'page'}) %> 	
</main>
