<div class="outer">
    <% if (theme.customize.profile.enabled) { %>
        <%- partial('common/profile', null, {cache: !config.relative_link}) %>
    <% } %>
    <section id="main">
        <% page.posts.each(function(post) { %>
    		<%- partial('common/article', { post: post, index: true }) %>
		<% });
		if (page.total > 1) { %>
    		<nav id="page-nav">
        		<%- paginator({
            		prev_text: '&laquo; ' + __('nav.prev'),
            		next_text: __('nav.next') + ' &raquo;'
        		}) %>
    		</nav>
		<% } %>
    </section>
    <% if (theme.customize.sidebar) { %>
        <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
    <% } %>
</div>


