<section class="main">
  <article class="article article-links article-type-list" itemscope="">
    <header class="article-header">
      <h1 itemprop="title"><%= page.title%></h1>
      <p>Friendly Links</p>
    </header>
    <div class="article-body">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-badger shadow-hover">
            <div class="panel-body">
              <a class="article-link" href="#">Friendly Links</a>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </article>
</section>
