<section class="main">
  <article class="article article-tags post-type-list" itemscope="">
    <header class="article-header">
      <h1 itemprop="name" class="hidden-xs"><%= page.title || page.tag %></h1>
      <p class="hidden-xs">Total <%= site.posts.length %> articles</p>
      <nav role="navigation" id="nav-main" class="okayNav">
        <ul>
          <% site.tags.each(function(item){ %>
          <li><a href="/<%= item.path %>"><%= item.name %></a></li>
          <% }) %>
        </ul>
      </nav>
    </header>
    <!-- /header -->
    <div class="article-body">
      <div class="row">
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
              </div>
              <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
            </div>
            <div class="panel-footer">
              <a href="#" class="label label-default mb">PHP</a>
              <a href="#" class="label label-default mb">Javascript</a>
              <a href="#" class="label label-default mb">HTML+CSS</a>
              <a href="#" class="label label-default mb">Git</a>
              <a href="#" class="label label-default mb">前端构建</a>
            </div>
          </article>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </article>
</section>
