<div class="widget">
    <h3 class="widget-title"><%= __('widget.board') %></h3>
    <div class="widget-body">
        <div id="board">
            <% if (theme.pv.busuanzi.enable) { %>
            <p>您好，您是第<span id="busuanzi_value_site_uv">0</span>位访客</p>
            <% } %>
            <div class="content">
                <%- theme.site.board %>
            </div>
        </div>
    </div>
</div>
