<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="zh-cn" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#000000" />
  <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
  <meta http-equiv="window-target" content="_top" />
  <!-- 强制图片显示 -->
  <meta name="imagemode" content="force" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>归档</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  {% include "_includes/header.html" %} 
  {% include "_includes/sidebar.html" %}
  <main class="main">
    <article class="article article-archives article-type-list" itemscope="">
      <header class="article-header">
        <h1 itemprop="title">Archives</h1>
        <p>Total 30 articles</p>
      </header>
      <div class="article-body">
        <div class="panel panel-default b-no">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                  <i class="icon icon-calendar-plus text-active"></i><i class="icon icon-calendar-minus text"></i>
                  2017 (Total 3 articles)
                </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="collection">
                <a href="#" class="collection-item">
                  <time datetime="2017-01-30T13:42:47.000Z">2017-01-30</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 状态模式与状态机
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-29T13:27:31.000Z">2017-01-29</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏开发中单例模式的一些思考
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-18T12:03:09.000Z">2017-01-18</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏引擎的事件系统
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-13T13:33:32.000Z">2017-01-13</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 运行时游戏对象模型（下）——实时更新游戏对象
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default b-no">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
                  <i class="icon icon-calendar-plus text-active"></i><i class="icon icon-calendar-minus text"></i>
                  2016 (Total 3 articles)
                </a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="collection">
                <a href="#" class="collection-item">
                  <time datetime="2017-01-30T13:42:47.000Z">2017-01-30</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 状态模式与状态机
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-29T13:27:31.000Z">2017-01-29</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏开发中单例模式的一些思考
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-18T12:03:09.000Z">2017-01-18</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏引擎的事件系统
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-13T13:33:32.000Z">2017-01-13</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 运行时游戏对象模型（下）——实时更新游戏对象
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default b-no">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseThree" aria-expanded="true">
                  <i class="icon icon-calendar-plus text-active"></i><i class="icon icon-calendar-minus text"></i>
                  2015 (Total 3 articles)
                </a>
              </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="collection">
                <a href="#" class="collection-item">
                  <time datetime="2017-01-30T13:42:47.000Z">2017-01-30</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 状态模式与状态机
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-29T13:27:31.000Z">2017-01-29</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏开发中单例模式的一些思考
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-18T12:03:09.000Z">2017-01-18</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 游戏引擎的事件系统
                </a>
                <a href="#" class="collection-item">
                  <time datetime="2017-01-13T13:33:32.000Z">2017-01-13</time>
                  <span>&nbsp;&nbsp;&nbsp;</span> 运行时游戏对象模型（下）——实时更新游戏对象
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
  {% include "_includes/footer.html" %}
  {% include "_includes/scripts.html" %}
</body>

</html>
