<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="source/favicon.ico">
  <title>归档</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  {% include "_includes/mainside.html" %} {% include "_includes/sidebar.html" %}
  <section class="main no-gutter">
    <article class="article archives-archives article-type-list" itemscope="">
      <header class="article-header block">
        <h1 itemprop="title">Archives</h1>
        <p>Total 30 articles</p>
      </header>
      <div class="article-body block">
        <div class="timeline">
          <div class="time-label">
            <div class="chapter-header clearfix">
              <h3 class="archives_year m-no">2017</h3></div>
            <button type="button" class="chapterTogger"></button>
          </div>
          <div class="chapter-body">
            <section class="">
              <header>
                <h4>2017/02</h4></header>
              <article>
                <ul class="list-unstyled">
                  <li>
                    <h3 class="fs-xs text-nowrap-2x"><a href="http://www.astatoner.com/asta-2017-paperworld-middle-east.html" title="ASTA 2017 PaperWorld Middle East">▪ ASTA 2017 PaperWorld Middle East</a></h3>
                    <p class="text-muted"><span class="meta-date"><i class="fa fa-calendar-check-o fa-fw"></i> 17/02/24 </span><span class="meta-comment mh-1x"><i class="fa fa-comment-o fa-fw"></i> 0 </span><span class="meta-view"><i class="fa fa-eye fa-fw"></i> 431 </span></p>
                  </li>
                  <li>
                    <h3 class="fs-xs text-nowrap-2x"><a href="http://www.astatoner.com/asta-2017-india-recharger-expo.html" title="ASTA 2017 India Recharger Expo">▪ ASTA 2017 India Recharger Expo</a></h3>
                    <p class="text-muted"><span class="meta-date"><i class="fa fa-calendar-check-o fa-fw"></i> 17/02/23 </span><span class="meta-comment mh-1x"><i class="fa fa-comment-o fa-fw"></i> 0 </span><span class="meta-view"><i class="fa fa-eye fa-fw"></i> 406 </span></p>
                  </li>
                </ul>
              </article>
            </section>
            <section>
              <header>
                <h4>2017/01</h4></header>
              <article>
                <ul class="list-unstyled">
                  <li>
                    <h3 class="fs-xs text-nowrap-2x"><a href="http://www.astatoner.com/shenzhen-asta-wins-international-reputed-imaging-brand-china-award-6th-imaging-solution-awards-night.html" title="Shenzhen ASTA Wins ‘International Reputed Imaging Brand of China Award’ at the 6th Imaging Solution Awards Night">▪ Shenzhen ASTA Wins ‘International Reputed Imaging Brand of China Award’ at the 6th Imaging Solution Awards Night</a></h3>
                    <p class="text-muted"><span class="meta-date"><i class="fa fa-calendar-check-o fa-fw"></i> 17/01/18 </span><span class="meta-comment mh-1x"><i class="fa fa-comment-o fa-fw"></i> 0 </span><span class="meta-view"><i class="fa fa-eye fa-fw"></i> 581 </span></p>
                  </li>
                  <li>
                    <h3 class="fs-xs text-nowrap-2x"><a href="http://www.astatoner.com/great-newsasta-won-international-reputed-imaging-brand.html" title="Great news!ASTA won International Reputed Imaging Brand.">▪ Great news!ASTA won International Reputed Imaging Brand.</a></h3>
                    <p class="text-muted"><span class="meta-date"><i class="fa fa-calendar-check-o fa-fw"></i> 17/01/17 </span><span class="meta-comment mh-1x"><i class="fa fa-comment-o fa-fw"></i> 0 </span><span class="meta-view"><i class="fa fa-eye fa-fw"></i> 814 </span></p>
                  </li>
                </ul>
              </article>
            </section>
          </div>
          <div class="time-label">
            <div class="chapter-header clearfix">
              <h3 class="archives_year m-no">2010</h3></div>
            <button type="button" class="chapterTogger"></button>
          </div>
          <div class="chapter-body">
            <section>
              <header>
                <h4>2010/09</h4></header>
              <article>
                <ul class="list-unstyled">
                  <li>
                    <h3 class="fs-xs text-nowrap-2x"><a href="http://www.astatoner.com/asta-showing-in-remaxasia-pacific-expo-2010-in-zhuhai-china.html" title="ASTA showing in RemaxAsia Pacific Expo 2010 in Zhuhai, China">▪ ASTA showing in RemaxAsia Pacific Expo 2010 in Zhuhai, China</a></h3>
                    <p class="text-muted"><span class="meta-date"><i class="fa fa-calendar-check-o fa-fw"></i> 10/09/25 </span><span class="meta-comment mh-1x"><i class="fa fa-comment-o fa-fw"></i> 0 </span><span class="meta-view"><i class="fa fa-eye fa-fw"></i> 1297 </span></p>
                  </li>
                </ul>
              </article>
            </section>
          </div>
        </div>
      </div>
    </article>
  </section>
  {% include "_includes/scripts.html" %}
</body>

</html>
