<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>首页 - 主体内容靠左</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-left no-sidebar">
  {% include "_includes/mainside.html" %} 
  {% include "_includes/sidebar.html" %}
  <section class="main">
    {% include "_includes/list.html" %}
  </section>
  {% include "_includes/scripts.html" %}
</body>

</html>
