<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Dashboard Template for Bootstrap</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  <div class="container-fluid">
    <div class="row">
      {% include "_includes/main-sidebar.html" %}
      {% include "_includes/sidebar.html" %}
      <div class="col-sm-5 col-md-7 col-lg-7 main">
        {% include "_includes/list.html" %}  
      </div>
    </div>
  </div>
  {% include "_includes/scripts.html" %}
</body>

</html>
