<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="source/favicon.ico">
  <title>友情链接</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  {% include "_includes/mainside.html" %} {% include "_includes/sidebar.html" %}
  <section class="main">
    <article class="article article-links article-type-list" itemscope="">
      <header class="article-header">
        <h1 itemprop="title">Links</h1>
        <p>Friendly Links</p>
      </header>
      <div class="article-body">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
    </article>
  </section>
  {% include "_includes/scripts.html" %}
</body>

</html>
