<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="zh-cn" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#000000" />
  <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
  <meta http-equiv="window-target" content="_top" />
  <!-- 强制图片显示 -->
  <meta name="imagemode" content="force" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>友情链接</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  {% include "_includes/mainside.html" %} {% include "_includes/sidebar.html" %}
  <section class="main">
    <article class="article article-links article-type-list" itemscope="">
      <header class="article-header">
        <h1 itemprop="title">Links</h1>
        <p>Friendly Links</p>
      </header>
      <div class="article-body">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-badger shadow-hover">
              <div class="panel-body">
                <a class="article-link" href="#">Friendly Links</a>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body p-no">
                <figure class="media media-middle">
                  <div class="media-left">
                    <a href="https://github.com/cofess" target="_blank" class="img-burn thumb-md media-middle">
                      <img src="assets/images/avatar.jpg" class="w-full" alt="">
                    </a>
                  </div>
                  <div class="media-body pr-0x">
                    <h4 class="media-heading"><a href="https://github.com/cofess" target="_blank"><span class="text-dark">Cofess</span></a></h4>
                    <div>拾穗者的故事</div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body p-no">
                <figure class="media media-middle">
                  <div class="media-left">
                    <a href="https://github.com/cofess" target="_blank" class="img-burn thumb-md media-middle">
                      <img src="assets/images/avatar.jpg" class="w-full" alt="">
                    </a>
                  </div>
                  <div class="media-body pr-0x">
                    <h4 class="media-heading"><a href="https://github.com/cofess" target="_blank"><span class="text-dark">Cofess</span></a></h4>
                    <div>拾穗者的故事</div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body p-no">
                <figure class="media media-middle">
                  <div class="media-left">
                    <a href="https://github.com/cofess" target="_blank" class="img-burn thumb-md media-middle">
                      <img src="assets/images/avatar.jpg" class="w-full" alt="">
                    </a>
                  </div>
                  <div class="media-body pr-0x">
                    <h4 class="media-heading"><a href="https://github.com/cofess" target="_blank"><span class="text-dark">Cofess</span></a></h4>
                    <div>拾穗者的故事</div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
    </article>
  </section>
  {% include "_includes/scripts.html" %}
</body>

</html>
