<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="zh-cn" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#000000" />
  <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
  <meta http-equiv="window-target" content="_top" />
  <!-- 强制图片显示 -->
  <meta name="imagemode" content="force" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Repository</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center no-sidebar">
  {% include "_includes/mainside.html" %} {% include "_includes/sidebar.html" %}
  <section class="main">
    <article class="article article-repository article-type-list" itemscope="">
      <header class="article-header">
        <h1 itemprop="title">Repository</h1>
        <p>I have 30 projects on Github</p>
      </header>
      <div class="article-body">
        <ul class="repo-list row">
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/Agola-Custom-Fields.git" target="_blank" class="repo-image geopattern" data-pattern-id="Agola-Custom-Fields">
                <h3 class="repo-title">Agola-Custom-Fields</h3> </a>
              <p class="repo-body">null</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">HTML</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2016-09-28">
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2016-09-28">2016-09-28</time></span> 
                </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/ASTAToner-HTML.git" target="_blank" class="repo-image geopattern" data-pattern-id="ASTAToner-HTML">
                <h3 class="repo-title">ASTAToner-HTML</h3> </a>
              <p class="repo-body">ASTAToner 前端静态页面</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">HTML</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2016-05-11">
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2016-05-11">2016-05-11</time></span> 
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/blogtheme.git" target="_blank" class="repo-image geopattern" data-pattern-id="blogtheme">
                <h3 class="repo-title">blogtheme</h3> </a>
              <p class="repo-body">A hexo theme base on Icarus.</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">CSS</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2017-04-06">
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2017-04-06">2017-04-06</time></span> 
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/citymemory-static.git" target="_blank" class="repo-image geopattern" data-pattern-id="citymemory-static">
                <h3 class="repo-title">citymemory-static</h3> </a>
              <p class="repo-body">大运印象前端，基于Bootstrap</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">JavaScript</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2017-03-07">
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2017-03-07">2017-03-07</time></span> 
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/cofess.github.io.git" target="_blank" class="repo-image geopattern" data-pattern-id="cofess.github.io">
                <h3 class="repo-title">cofess.github.io</h3> </a>
              <p class="repo-body">个人博客</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">HTML</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2017-04-08">        
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2017-04-08">2017-04-08</time></span> 
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-md-6 col-lg-4">
            <div class="repo shadow-hover">
              <a href="https://github.com/cofess/Demo-Bar-Collection.git" target="_blank" class="repo-image geopattern" data-pattern-id="Demo-Bar-Collection">
                <h3 class="repo-title">Demo-Bar-Collection</h3> </a>
              <p class="repo-body">iframe demo bar collection</p>
              <div class="repo-meta"> 
                <span class="meta-info tooltipped tooltipped-n JavaScript" aria-label="JavaScript project">JavaScript</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 stars"><i class="fa fa-fw fa-star"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="0 forks"><i class="fa fa-fw fa-code-fork"></i>0</span> 
                <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新时间：2016-07-29">        
                <i class="fa fa-fw fa-clock-o"></i><time datetime="2016-07-29">2016-07-29</time></span> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    </article>
  </section>
  {% include "_includes/scripts.html" %}
</body>

</html>
