<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="zh-cn" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#000000" />
  <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
  <meta http-equiv="window-target" content="_top" />
  <!-- 强制图片显示 -->
  <meta name="imagemode" content="force" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>标签</title>
  {% include "_includes/head.html" %}
</head>

<body class="main-center">
  {% include "_includes/mainside.html" %} {% include "_includes/sidebar.html" %}
  <main class="main">
    <article class="article article-tags post-type-list" itemscope="">
      <header class="article-header">
        <h1 itemprop="name" class="hidden-xs">Tags</h1>
        <p class="hidden-xs">Total 30 articles</p>
        <nav role="navigation" id="nav-main" class="okayNav">
          <ul>
            <li><a href="#">前端</a></li>
            <li><a href="#">Html5</a></li>
            <li><a href="#">Canvas</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#">Html5</a></li>
            <li><a href="#">Canvas</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#">Html5</a></li>
            <li><a href="#">Canvas</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#">Html5</a></li>
            <li><a href="#">Canvas</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#">Html5</a></li>
            <li><a href="#">Canvas</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Gulp</a></li>
            <li><a href="#">Webpack</a></li>
          </ul>
        </nav>
      </header>
      <!-- /header -->
      <div class="article-body">
        <div class="row">
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">如何为Canvas中特定图形绑定事件？</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <article class="panel panel-default shadow-hover">
              <div class="panel-body">
                <div class="article-meta">
                  <time class="article-time" title="2016年08月8日 14:43:38" datetime="2016-08-08T06:43:38.000Z" itemprop="datePublished">2016年08月8日</time>
                </div>
                <h3 class="article-title" itemprop="name">
                  <a class="article-link" href="#">html5上传进度实现</a>
                </h3>
              </div>
              <div class="panel-footer">
                <a href="#" class="label label-default mb">PHP</a>
                <a href="#" class="label label-default mb">Javascript</a>
                <a href="#" class="label label-default mb">HTML+CSS</a>
                <a href="#" class="label label-default mb">Git</a>
                <a href="#" class="label label-default mb">前端构建</a>
              </div>
            </article>
          </div>
          <!-- /.col -->
        </div>
      </div>
    </article>
  </main>
  {% include "_includes/scripts.html" %}
</body>

</html>
