@charset "UTF-8";

#go-top {
    width: 40px;
    height: 36px;
    background-color: #777;
    position: relative;
    border-radius: 2px;
    position: fixed;
    right: 10px;
    bottom: 60px;
    cursor: pointer;
    display: none;
}

#go-top:after {
    content: " ";
    position: absolute;
    left: 14px;
    top: 14px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}

#go-top:hover {
    background-color: #333;
}