<% if (post.tags && post.tags.length){ %>
  <span class="article-tag">
    <i class="icon icon-tags"></i>
	<%- list_tags(post.tags, {
	   show_count: false,
	   style: 'link',
	   class: 'article-tag'
	}) %>
  </span>
<% } %>
