<a href="<%- url_for((post.link ? post.link : post.path)) %>" class="thumb">
    <% var thumbnailUrl = thumbnail(post) %>
    <% if (thumbnailUrl) { %>
        <span style="background-image:url(<%= thumbnailUrl %>)" alt="<%= post.title %>" class="thumb-image"></span>
    <% } else { %>
        <span class="thumb-image thumb-none"></span>
    <% } %>
</a>
