/**
 * footer
 */

.footer {
  .copyright {
    font-size: 10px;
    color: $text-light-color;
    a {
      color: $text-light-color;
      text-decoration: none;
      &:hover {
        color: $link-hover-color;
      }
    }
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .footer {
    display: none;
    position: static;
    .copyright {
      display: block;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
