/*
 * Global add-ons
 */

.text-collapsed {
  display: none;
}

.text-in {
  display: block;
}

.collapsed {
  .text-collapsed {
    display: block;
  }
  .text-in {
    display: none;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.article-header {
  margin-bottom: 20px;
}

.article-footer {
  margin-top: 20px;
}


/**
 * collection
 */

.collection {
  position: relative;
  a {
    &.collection-item {
      display: block;
      transition: .25s;
      color: $gray-light;
    }
    &:not(.active):hover {
      color: $gray-dark;
    }
  }
  .collection-item {
    padding: 8px 0;
    margin: 0;
  }
}

.article-list {
  .article-title {
    font-size: 18px;
  }
}

// 文章目录
.article-toc {
  .toc-title {
    font-size: 18px;
    color: #000;
  }
  .toc {
    list-style: none;
    padding-left: 0;
    line-height: 2.0;
    ol {
      list-style: none;
      padding-left: 10px;
    }
    .toc-item {
      position: relative;
      .markdownIt-Anchor {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 14px 0;
      }
    }
  }
}

.toggle-toc {
  display: inline-block;
  cursor: pointer;
  margin-left: 16px;
  a {
    display: inline-block;
    width: 16px;
    line-height: 32px;
    text-align: center
  }
}

.markdown-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
  }
  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid $border-color
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid $border-color
  }
  a {
    color: $link-color;
    text-decoration: none;
    &:focus,
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
  ul,
  ol {
    padding-left: 0;
    margin-left: 20px;
  }
  @media (min-width: $screen-md-min) {
    .headerlink,
    .markdownIt-Anchor {
      &:before {
        content: "#";
        color: $link-hover-color;
        // float: left;
        // vertical-align: middle;
        visibility: hidden;
      }
    }
    .headerlink {
      &:before {
        margin-left: -20px;
        padding-right: 4px;
      }
    }
    .markdownIt-Anchor {
      &:before {
        margin-left: -20px;
        margin-right: -4px;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover {
        .headerlink,
        .markdownIt-Anchor {
          &:before {
            visibility: visible;
          }
        }
      }
    }
  }
}
