.widget {
  @include clearfix;
  .widget-title {
    font-size: 18px;
    color: #000;
  }
  time {
    color: $text-light-color;
    font-size: 12px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
  .category-link {
    color: $link-hover-color;
  }
  // a {
  //   color: $link-dark-color;
  //   text-decoration: none;
  //   &:hover {
  //     color: $link-hover-color;
  //   }
  // }
  // + .widget{
  //   margin-top:10px;
  // }
}

.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: $text-light-color;
  font-size: 0.85em;
}

.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}

.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}

.category-list,
.archive-list,
.tag-list {
  line-height: 1.75;
  li:before {
    color: #ccc;
    content: "▪";
    font-size: 12px;
    margin-right: 6px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}

.recent-post-list {
  &.no-thumbnail li {
    padding: 0;
    + li {
      margin-top: 10px;
    }
  }
  li {
    padding-left: 72px;
    + li {
      margin-top: 15px;
    }
    .item-thumb {
      opacity: 1;
      float: left;
      margin-left: -72px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
      .thumb {
        width: 60px;
        height: 60px;
        display: block;
        position: relative;
        overflow: hidden;
        span {
          width: 100%;
          height: 100%;
          display: block;
        }
        .thumb-image {
          position: absolute;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          background-position: center;
        }
        .thumb-none {
          background-image: url("../images/thumb-default.png");
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          background-size: 100% 100%;
        }
      }
    }
    &:hover .item-thumb {
      opacity: 0.8;
    }
  }
}

// 文章目录
.sidebar-toc {
  &.collapse {
    display: none!important;
  }
  &.in {
    display: block!important;
  }
}
