.theme-black,
.theme-blue,
.theme-green,
.theme-purple {
  .header {
    color: #fff;
    a {
      color: #efefef;
    }
    #location {
      color: rgba(255, 255, 255, 0.5)!important;
    }
    .navbar-toggle {
      .icon-bar {
        background-color: #fff
      }
    }
  }
  .footer {
    color: rgba(255, 255, 255, 0.5);
    a {
      color: rgba(255, 255, 255, 0.5)
    }
  }
  .header,
  .footer {
    a {
      &:focus,
      &:hover,
      &.active {
        color: #fff;
      }
    }
  }
  .main-nav {
    > li {
      > a {
        &:focus,
        &:hover,
        &.active {
          color: #fff;
          background: rgba(0, 0, 0, 0.15);
        }
      }
    }
    > .active {
      a,
      a:focus,
      a:hover,
      a.active {
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .search {
    .sidebar-form {
      border: 0;
      background: rgba(0, 0, 0, 0.2);
      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
      input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
      input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
      input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
    }
    input[type="text"] {
      color: #666;
      +.input-group-btn .btn {
        color: rgba(255, 255, 255, 0.5)
      }
      &:focus,
      &:focus+.input-group-btn .btn {
        background-color: #fff;
        color: #666
      }
    }
    @media (max-width: $screen-xs-max) {
      input[type="text"] {
        &:focus {
          background-color: transparent;
          &+.input-group-btn .btn {
            color: rgba(255, 255, 255, 0.5);
            background-color: transparent;
          }
        }
      }
    }
  }
}

.theme-black {
  .header {
    @include gradientBg(darken($theme-black-color, 6.5%), $theme-black-color)
  }
  #main-navbar {
    @media (max-width: $screen-xs-max) {
      @include gradientBg(darken($theme-black-color, 6.5%), $theme-black-color)
    }
  }
}

.theme-blue {
  .header {
    @include gradientBg(darken($theme-blue-color, 6.5%), $theme-blue-color)
  }
  #main-navbar {
    @media (max-width: $screen-xs-max) {
      @include gradientBg(darken($theme-blue-color, 6.5%), $theme-blue-color)
    }
  }
}

.theme-green {
  .header {
    @include gradientBg(darken($theme-green-color, 6.5%), $theme-green-color)
  }
  #main-navbar {
    @media (max-width: $screen-xs-max) {
      @include gradientBg(darken($theme-green-color, 6.5%), $theme-green-color)
    }
  }
}

.theme-purple {
  .header {
    @include gradientBg(darken($theme-purple-color, 6.5%), $theme-purple-color)
  }
  #main-navbar {
    @media (max-width: $screen-xs-max) {
      @include gradientBg(darken($theme-purple-color, 6.5%), $theme-purple-color)
    }
  }
}
