<article class="article article-links article-type-list" itemscope="">
  <header class="article-header">
    <h1 itemprop="title"><%= page.title %></h1>
    <p class="text-muted">
      <%= __('page.links-desc') %>
    </p>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="1f4e6112-fff1-45c3-8c1b-602b7a122acd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </header>
  <div class="article-body">
     <blockquote><p>原谅我柔情矫情甚至故作深情，就像我原谅你没有再度认出我的脸。</p><p>原谅我竟然再次想起普希金的长诗，他讲，有一种蝉，它天生畸形，无法生出翅膀，于是只能在茧里摇啊摇。</p><p>当其他蝉翼被突然袭来的暴雨拍碎，它依然摇啊摇，不必产子，不必飞翔，同时也不必经历任何痛苦挣扎。</p></blockquote>
  </div>
</article>
<% if (theme.comment.type && !is_home()) { %>
  <%- partial('_partial/post/comment', {post: page}) %>
<% } %>
