<% page.posts.each(function (post, i) { %>
<div class="col-md-6">
    <article class="panel panel-default shadow-hover">
        <div class="panel-body">
            <div class="article-meta">
                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
            </div>
            <h3 class="article-title" itemprop="name">
                <a class="article-link" href="#"><%= post.title %></a>
            </h3>
        </div>
        <div class="panel-footer">
            <a href="#" class="label label-default mb">PHP</a>
            <a href="#" class="label label-default mb">Javascript</a>
            <a href="#" class="label label-default mb">HTML+CSS</a>
            <a href="#" class="label label-default mb">Git</a>
            <a href="#" class="label label-default mb">前端构建</a>
        </div>
    </article>
</div>
<% }); %>