<article class="article archives-about article-type-normal" itemscope="">
  <header class="article-header">
    <h1 itemprop="title"><%= page.title%></h1>
    <p>喜欢新事物，关注前端动态，对新的技术有追求； 喜欢产品，喜欢设计，喜欢 coding。</p>
  </header>
  <div class="article-body">
    <%- page.content %>
  </div>
</article>