<article class="article archives-about article-type-normal" itemscope="">
  <header class="article-header">
    <h1 itemprop="title"><%= page.title %></h1>
    <% if(page.description || theme.profile.author_description) { %>
    <p class="text-muted"><%= page.description || theme.profile.author_description %></p>
    <% } %>
  </header>
  <div class="article-body">
    <%- page.content %>
  </div>
</article>
<% if (theme.comment.type && !is_home()) { %>
  <%- partial('post/comment', {post: page}) %>
<% } %>

  <!-- about 博客图表统计 -->
  <!-- data-length显示最大tag数 -->
<% if(theme.purabo.about.chart.enable) { %>
  <div id="posts-calendar"></div>
  <div id="posts-chart"></div>
  <div id="tags-chart" data-length="10"></div>
  <div id="categories-chart"></div>
  <div id="categories-radar"></div>
<% } %>
