<div class="footer">
    <ul class="social-links">
        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github"></i></a></li>
        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Weibo"><i class="fa fa-weibo"></i></a></li>
        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance"></i></a></li>
        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Rss"><i class="fa fa-rss"></i></a></li>
    </ul>
    <div class="copyright">
        <div class="themeby">
        	<a target="_blank" href="/"><span>Theme by </span></a>
            <a href="https://www.caicai.me" target="_blank"> CaiCai </a>
        </div>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <div class="publishby"><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></div>
    </div>
</div>