<aside class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
  <div class="slimContent">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </div>
</aside>
