<header class="header">
  <div class="slimContent">
    <div class="profile-block">
      <a id="avatar">
        <img class="thumb-xl img-circle img-rotate" src="assets/images/avatar.jpg">
      </a>
      <h2 id="name">Cofess</h2>
      <h3 id="title">Web Developer &amp; Designer</h3>
      <small id="location" class="text-muted"><i class="fa fa-map-marker"></i> Shenzhen, China</small>
      <!-- <a id="follow" target="_blank" href="https://github.com/cofess">关注</a> -->
    </div>
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
    <ul class="nav main-nav">
      <li class="active"><a href="#"><i class="fa fa-fw fa-dashboard"></i> <span>Home</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-folder"></i> <span>Categories</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-tags"></i> <span>Tags</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-delicious"></i> <span>Archives</span></a></li>
      <li><a href="repository.html"><i class="fa fa-fw fa-code"></i> <span>Repository</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-gg"></i> <span>Links</span></a></li>
      <li><a href="about.html"><i class="fa fa-fw fa-coffee"></i> <span>About</span></a></li>
    </ul>
    {% include "_includes/social.html" %}
  </div>
</header>
