<section class="mainside">
  <div class="slimContent">
    <div class="navbar-header">
      <div class="profile-block">
        <!-- ################## LEFT PANEL PROFILE ################## -->
        <div class="media leftpanel-profile">
          <div class="media-left">
            <a href="https://github.com/cofess">
              <img src="source/images/avatar.jpg" alt="" class="media-object thumb-sm img-circle img-rotate">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Cofess <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
            <span>Web Developer &amp; Designer</span>
          </div>
        </div>
        <!-- leftpanel-profile -->
        <div class="leftpanel-userinfo collapse" id="loguserinfo">
          <h5 class="sidebar-title">Address</h5>
          <address>
            4975 Cambridge Road Miami Gardens, FL 33056
          </address>
          <h5 class="sidebar-title">Contact</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <label class="pull-left">Email</label>
              <span class="pull-right">me@themepixels.com</span>
            </li>
            <li class="list-group-item">
              <label class="pull-left">Home</label>
              <span class="pull-right">(032) 1234 567</span>
            </li>
            <li class="list-group-item">
              <label class="pull-left">Mobile</label>
              <span class="pull-right">+63012 3456 789</span>
            </li>
            <li class="list-group-item">
              <label class="pull-left">Social</label>
              <div class="social-icons pull-right">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- leftpanel-userinfo -->
      </div>
      <div class="search">
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." x-webkit-speech>
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav id="main-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav main-nav">
        <li class="active">
          <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> <span class="menu-title">Home</span></a>
        </li>
        <li>
          <a href="categories.html"><i class="fa fa-fw fa-folder"></i> <span class="menu-title">Categories</span></a>
        </li>
        <li>
          <a href="tags.html"><i class="fa fa-fw fa-tags"></i> <span class="menu-title">Tags</span></a>
        </li>
        <li>
          <a href="archives.html"><i class="fa fa-fw fa-delicious"></i> <span class="menu-title">Archives</span></a>
        </li>
        <li>
          <a href="repository.html"><i class="fa fa-fw fa-code"></i> <span class="menu-title">Repository</span></a>
        </li>
        <li>
          <a href="links.html"><i class="fa fa-fw fa-gg"></i> <span class="menu-title">Links</span></a>
        </li>
        <li>
          <a href="about.html"><i class="fa fa-fw fa-coffee"></i> <span class="menu-title">About</span></a>
        </li>
      </ul>
      <div class="footer">
        <ul class="social-links">
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Weibo"><i class="fa fa-weibo"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Rss"><i class="fa fa-rss"></i></a></li>
        </ul>
        <div class="copyright">
          <div class="themeby">
            <a target="_blank" href="/"><span>Theme by </span></a>
            <a href="https://www.caicai.me"> CaiCai </a><span>&amp;</span><a href="https://github.com/Ben02/hexo-theme-Anatole"> Ben</a>
          </div>
          <div class="publishby"><a href="https://hexo.io/zh-cn/" target="_blank">Proudly published with Hexo！</a></div>
        </div>
      </div>
    </nav>
  </div>
</section>
