<blockquote>
  <ul class="post-copyright list-unstyled">
    <li class="post-copyright-author">
      <strong>本文作者：</strong> IIssNan
    </li>
    <li class="post-copyright-link">
      <strong>本文链接：</strong>
      <a href="http://notes.iissnan.com/2015/upgrade-computer-components/" title="记近期电脑设备升级一事">http://notes.iissnan.com/2015/upgrade-computer-components/</a>
    </li>
    <li class="post-copyright-license">
      <strong>版权声明： </strong> 本博客所有文章除特别声明外，均采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0 CN</a> 许可协议。转载请注明出处！
    </li>
  </ul>
</blockquote>
<div class="panel panel-default panel-badger">
  <div class="panel-body">
    <figure class="media">
      <div class="media-left">
        <a href="https://github.com/cofess" target="_blank" class="img-burn thumb-sm visible-lg">
          <img src="assets/images/avatar.jpg" class="img-rounded w-full" alt="">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a href="https://github.com/cofess" target="_blank"><span class="text-dark">Cofess</span><small class="ml-1x">Web Developer & Designer</small></a></h3>
        <div>喜欢新事物，关注前端动态，对新的技术有追求； 喜欢产品，喜欢设计，喜欢 coding。</div>
        <!-- <hr class="mv-0x">
        <div class="row rating-desc">
          <div class="col-md-12"> <i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i>(36)<span class="separator ph-sm">|</span> <i class="fa fa-comment fa-fw text-success"></i>(100 Comments) </div>
        </div> -->
      </div>
    </figure>
  </div>
</div>
