<div class="panel panel-default panel-badger">
  <div class="panel-body">
    <figure class="media">
      <div class="media-left">
        <a href="https://github.com/cofess" target="_blank" class="img-burn thumb-sm visible-lg">
          <img src="source/images/avatar.jpg" class="img-rounded w-full" alt="">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a href="https://github.com/cofess" target="_blank"><span class="text-dark">Cofess</span><small class="ml-1x">Web Developer & Designer</small></a></h3>
        <div>喜欢新事物，关注前端动态，对新的技术有追求； 喜欢产品，喜欢设计，喜欢 coding。</div>
        <!-- <hr class="mv-0x">
        <div class="row rating-desc">
          <div class="col-md-12"> <i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i><i class="fa fa-heart fa-fw text-danger"></i>(36)<span class="separator ph-sm">|</span> <i class="fa fa-comment fa-fw text-success"></i>(100 Comments) </div>
        </div> -->
      </div>
    </figure>
  </div>
</div>
