<aside class="sidebar">
  <div class="slimContent">
    <div class="widget">
      <h3 class="widget-title">个人链接</h3>
      <div class="widget-body">
        <ul class="link-list lh-2x">
          <li>Github: <a href="https://github.com/cofess" target="_blank" rel="external nofollow noopener noreferrer">https://github.com/cofess</a></li>
          <li>Blog: <a href="http://blog.cofess.com" target="_blank">http://blog.cofess.com</a></li>
          <li>微博: <a href="http://weibo.com/cofess" target="_blank" rel="external nofollow noopener noreferrer">http://weibo.com/cofess</a></li>
          <li>花瓣: <a href="http://huaban.com/cofess" target="_blank" rel="external nofollow noopener noreferrer">http://huaban.com/cofess</a></li>
          <li>Behance: <a href="https://www.behance.net/cofess" target="_blank" rel="external nofollow noopener noreferrer">https://www.behance.net/cofess</a></li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">技能</h3>
      <div class="widget-body">
        <ul class="skill-list lh-2x">
          <li>
            <span>Git</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>Gulp</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>Javascript</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>HTML+CSS</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>Bootstrap</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>ThinkPHP</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
          <li>
            <span>平面设计</span>
            <span class="pull-right">★★★☆☆</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">Keywords</h3>
      <div class="widget-body">
        <span class="label label-default mb">PHP</span>
        <span class="label label-default mb">Javascript</span>
        <span class="label label-default mb">HTML+CSS</span>
        <span class="label label-default mb">Git</span>
        <span class="label label-default mb">前端构建</span>
        <span class="label label-default mb">Sublime Text</span>
        <span class="label label-default mb">Gulp</span>
        <span class="label label-default mb">Less</span>
        <span class="label label-default mb">Scss</span>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">个人作品</h3>
      <div class="widget-body">
        <ul class="work-list lh-2x">
          <li class="clearfix"><a href="https://cofess.github.com/mobile-static-site/zc/M/Index/index.html" target="_blank" title="众测天下WebAPP" rel="external nofollow noopener noreferrer"><span>众测天下WebAPP</span> <span class="pull-right text-muted">2016</span></a></li>
          <li class="clearfix"><a href="http://www.samdi.hk" target="_blank" title="SAMDI外贸商城" rel="external nofollow noopener noreferrer"><span>SAMDI外贸商城</span> <span class="pull-right text-muted">2016</span></a></li>
          <li class="clearfix"><a href="http://www.astatoner.com" target="_blank" title="爱斯达官网" rel="external nofollow noopener noreferrer"><span>爱斯达官网</span> <span class="pull-right text-muted">2016</span></a></li>
          <li class="clearfix"><a href="http://www.citymemory.me" target="_blank" title="大运印象饭店&amp;清吧" rel="external nofollow noopener noreferrer"><span>大运印象饭店&amp;清吧</span> <span class="pull-right text-muted">2015</span></a></li>
          <li class="clearfix"><a href="http://www.m-sunda.com" target="_blank" title="迈顺达官网" rel="external nofollow noopener noreferrer"><span>迈顺达官网</span> <span class="pull-right text-muted">2015</span></a></li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h3 class="widget-title">Popular Repositories</h3>
      <div class="widget-body">
        <ul class="popular-repo list-square lh-2x">
          <li class="public source">
            <a href="https://github.com/cofess/gulp-startpro.git" target="_blank" title="cofess/gulp-startpro">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target">cofess/gulp-startpro</span>
            </a>
          </li>
          <li class="public source">
            <a href="https://github.com/cofess/gulp-startkit.git" target="_blank" title="cofess/gulp-startkit">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target">cofess/gulp-startkit</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
