<ul class="social-links">
  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Github"><i class="icon icon-github"></i></a></li>
  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Weibo"><i class="icon icon-weibo"></i></a></li>
  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon icon-twitter"></i></a></li>
  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Behance"><i class="icon icon-behance"></i></a></li>
  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Rss"><i class="icon icon-rss"></i></a></li>
</ul>
