/*
 * Sidebar
 */


/* Hide for mobile, show later */

// .main-sidebar {
//   display: none;
// }
@media (min-width: 768px) {
  .main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #fafafa;
    border-right: 1px solid #f6f6f6;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #fefefe;
    border-right: 1px solid #f6f6f6;
  }
}


/*
 * main-center
 */

body.main-center {
  .main-sidebar {}
  .sidebar{
    left:auto;
    right:0;
    border-left: 1px solid #f6f6f6;
    border-right:0;
  }
  .main {
    @media (min-width: $screen-sm-min) {
      margin-left: 25%;
    }
    @media (min-width: $screen-md-min) {
      margin-left: 16.66666667%;
    }
    @media (min-width: $screen-lg-min) {
      margin-left: 16.66666667%;
    }
  }
}


/*
 * main-left
 */

body.main-left {
  .main-sidebar {
    left:auto;
    right:0;
    border-left: 1px solid #f6f6f6;
    border-right:0;
  }
  .sidebar{
    left:auto;
    right:0;
    border-left: 1px solid #f6f6f6;
    border-right:0;
    @media (min-width: $screen-sm-min) {
      margin-right: 25%;
    }
    @media (min-width: $screen-md-min) {
      margin-right: 16.66666667%;
    }
    @media (min-width: $screen-lg-min) {
      margin-right: 16.66666667%;
    }
  }
}


/*
 * main-right
 */

body.main-right {
  .main-sidebar {}
  .sidebar {
    @media (min-width: $screen-sm-min) {
      margin-left: 25%;
    }
    @media (min-width: $screen-md-min) {
      margin-left: 16.66666667%;
    }
    @media (min-width: $screen-lg-min) {
      margin-left: 16.66666667%;
    }
  }
  .main {
    @media (min-width: $screen-sm-min) {
      margin-left: 58.33333333%;
    }
    @media (min-width: $screen-md-min) {
      margin-left: 41.66666667%;
    }
    @media (min-width: $screen-lg-min) {
      margin-left: 41.66666667%;
    }
  }
}
