/*
 * Component: list
 * ----------------
 */
.list-disc { list-style: disc!important;/*实心圆形符号*/ }
.list-alpha { list-style: upper-alpha!important;/*标记是大写字母*/ }
.list-decimal { list-style: decimal!important;/*标记是数字*/ }
.list-outside { list-style-position: outside!important; /*凸排*/ }
.list-inside { list-style-position: inside!important; /*缩进*/ }
.list-square {
  list-style: none;
  li:before {
    color: #ccc;
    content: "▪";
    font-size: 12px;
    margin-right: 6px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}
.list-circle-num, .list-square-num { counter-reset: list1; }
 @media (max-width: $screen-xs-max) {
.list-circle-num, .list-square-num { margin: 0 0 40px; }
}
.list-circle-num > li, .list-square-num > li { list-style: none outside none; margin-bottom: 13px; }
.list-circle-num > li:before { counter-increment: list1; content: counter(list1) ''; width: 24px; height: 24px; text-align: center; border-radius: 12px; font-size: 15px; border-width: 1px; border-style: solid; margin: 0 16px 0 0; display: inline-block; vertical-align: middle; }
.list-square-num > li:before { counter-increment: list1; content: counter(list1) ''; width: 24px; height: 24px; text-align: center; border-radius: 5px; font-size: 15px; border-width: 1px; border-style: solid; margin: 0 16px 0 0; display: inline-block; vertical-align: middle; }
.list-circle-num > li > ol, .list-square-num > li > ol { counter-reset: list2; }
.list-circle-num > li > ol > li, .list-square-num > li > ol > li { margin-bottom: 13px; }
.list-circle-num > li > ol > li:before { counter-increment: list2; content: counter(list1) "." counter(list2) ""; width: 24px; height: 24px; text-align: center; border-radius: 12px; font-size: 15px; border-width: 1px; border-style: solid; margin: 0 16px 0 0; display: inline-block; vertical-align: middle; }
.list-square-num > li > ol > li:before { counter-increment: list2; content: counter(list1) "." counter(list2) ""; width: 24px; height: 24px; text-align: center; border-radius: 5px; font-size: 15px; border-width: 1px; border-style: solid; margin: 0 16px 0 0; display: inline-block; vertical-align: middle; }
.list-circle-num[class*="list-full"] > li::before, .list-square-num[class*="list-full"] > li::before { background: #de4a32; color: #ffffff; }
