//
// Panels
// --------------------------------------------------
// Base class
.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid $border-color;
  // border-radius: $panel-border-radius;
  // @include box-shadow(0 1px 1px rgba(0,0,0,.05));
  .article-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 32px;
    height: 64px;
    word-break: break-all !important;
    word-wrap: break-word !important;
  }
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid $border-color;
  // @include border-top-radius(($panel-border-radius - 1));
  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;
  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
    text-decoration: none;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  // background-color: $panel-footer-bg;
  border-top: 1px solid $border-color;
  @include border-bottom-radius(($panel-border-radius - 1));
}


/**
 * panel-group-base
 */

.panel {
  &.b-no {
    border: 0;
    margin-bottom: 0;
    .panel-heading,
    .panel-body,
    .panel-footer {
      border: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}


/* Badger*/

.panel-badger {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: $gray-light transparent transparent $gray-light;
  }
  &:hover {
    &:after {
      border-color: $brand-primary transparent transparent $brand-primary;
    }
  }
}

.badger-danger:after {
  border-color: $brand-danger transparent transparent $brand-danger;
}

.badger-warning:after {
  border-color: $brand-warning transparent transparent $brand-warning;
}

.badger-success:after {
  border-color: $brand-success transparent transparent $brand-success;
}

.badger-info:after {
  border-color: $brand-info transparent transparent $brand-info;
}

.badger-primary:after {
  border-color: $brand-primary transparent transparent $brand-primary;
}
