/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.article-header{
  margin-bottom:20px;
}


/**
 * collection
 */

.collection {
  position: relative;
  a {
    &.collection-item {
      display: block;
      transition: .25s;
      color: $gray-light;
    }
    &:not(.active):hover {
      color: $gray-dark;
    }
  }
  .collection-item {
    padding: 8px 0;
    margin: 0;
  }
}

.article-list{
  .article-title{
    font-size:22px;
  }
}
