body {
  font-family: $font-family-default;
  overflow-x: hidden;
  &.auto-scroll {
    overflow-y: auto;
    padding-right: 0!important;
    &.modal-open {
      @media (max-width: $screen-xs-max) {
        overflow: hidden;
      }
    }
  }
}

a {
  color: $link-dark-color;
  text-decoration: none;
  &:focus,
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

input,
button,
select,
textarea,
.btn {
  outline: none!important;
  &:focus,
  &:hover,
  &:active {
    outline: none!important;
  }
}
