/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.eot");
  src: url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.woff") format("woff"),
       url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.ttf") format("truetype"),
       url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_69fecf9d6c8281e9d3408432ad8249a4.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-facebook:before,
.icon-googleplus:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-facebook:before { content: "\f100"; }
.icon-googleplus:before { content: "\f101"; }
.icon-twitter:before { content: "\f102"; }
