<% if(theme.profile.social.links) { %>
	<% var tooltipClass = theme.profile.social.link_tooltip === false ? '' : 'data-toggle=tooltip data-placement=top'; %>
    <ul class="social-links">
    	<% for(var i in theme.profile.social.links) { %>
        <li><a href="<%- url_for(theme.profile.social.links[i]) %>" target="_blank" title="<%= titlecase(i) %>" <%= tooltipClass %>><i class="fa fa-<%= i %>"></i></a></li>
        <% } %>
    </ul>
<% } %>