//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

// $brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-primary:         #2196f3 !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #56CCF2 !default;
$brand-warning:         #F09819 !default;
$brand-danger:          #FF512F !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
$text-light-color:      #999 !default; // #aaa

// btn
$btn-color:            $gray-dark !default;
$btn-light-color:      #999 !default; // #aaa

//** Global textual link color.
$link-color:            $brand-primary !default;
$link-base-color:       $gray !default;
$link-dark-color:       $gray-dark !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

/**
 * font family
 */
$font-family-arial:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif!default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-default:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !default;
$font-family-nice:"open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
/**
 * 
 */
$line-height-code-block: 1.5;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-xl:                  1440px !default;
$screen-xl-min:              $screen-xl !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;
//== Labels
//
//##

//** Default label background color
$label-default-bg:            $gray-lighter !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;

// border
$border-color:        		  #f2f2f2 !default;
$nav-tabs-border-color:       #f2f2f2 !default;
// sidebar
$mainside-bg:				  #fbfbfb !default;
$sidebar-bg:				  #fdfdfd !default;
$sidebar-border-color:        #f6f6f6 !default;

// theme
$theme-black-color:        	  #253449 !default;
$theme-blue-color:        	  #0073e6 !default;
$theme-green-color:        	  #0ac29d !default;
$theme-yellow-color:          #e08e0b !default;
$theme-red-color:        	  #d9230f !default;
$theme-purple-color:          #555299 !default;

// layout
$mainside-sm-width:           4.16666667%;
$mainside-md-width:           16.66666667%;
$mainside-lg-width:           16.66666667%;
$mainside-xl-width:           16.66666667%;

$sidebar-sm-width:            33.33333333%;
$sidebar-md-width:            25%;
$sidebar-lg-width:            23%;
$sidebar-xl-width:            21%;

$main-sm-width:               62.5%;
$main-md-width:               58.33333333%;
$main-lg-width:               60.33333333%;
$main-xl-width:               62.33333333%;