@charset "utf-8";

/* Our variables */
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  calc($base-font-size * 0.875);
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: color($grey-color lightness(90%));
$grey-color-dark:  color($grey-color shade(40%));

$on-palm:          600px;
$on-laptop:        800px;

@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/syntax-highlighting";
@import "partials/fontcustom.scss";
