<span class="article-date">
    <i class="icon icon-calendar-check"></i>
    <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
        <time datetime="<%= date_xml(post.updated) %>" itemprop="dateUpdated">
            <%= "E " + date(post.updated, date_format) %>
        </time>
    </a>
</span>
